:root {
  --distribution-dark: #e0ac2b;
  --distribution-light: #f6e6bf;
  --correlation-dark: #7f7f7f;
  --correlation-light: #d7d7d7;
  --ranking-dark: #a4c969;
  --ranking-light: #e4efd2;
  --part-dark: #e85252;
  --part-light: #f8cdcd;
  --evolution-dark: #6689c6;
  --evolution-light: #d1dcee;
  --map-dark: #9a6fb0;
  --map-light: #e1d4e8;
  --flow-dark: #a53253;
  --flow-light: #e4c2cb;
  --other-dark: #55aaab;
  --other-light: #c6e4e4;
}

.distribution { color: var(--distribution-dark) ; border-top-color: var(--distribution-dark); }
.correlation { color: var(--correlation-dark); border-top-color: var(--correlation-dark); }
.ranking { color: var(--ranking-dark); border-top-color: var(--ranking-dark); }
.part { color: var(--part-dark); border-top-color: var(--part-dark); }
.evolution { color: var(--evolution-dark); border-top-color: var(--evolution-dark); }
.map { color: var(--map-dark); border-top-color: var(--map-dark); }
.flow { color: var(--flow-dark); border-top-color: var(--flow-dark); }
.other { color: var(--other-dark); border-top-color: var(--other-dark); }

.distribution a, .correlation a, .ranking a, .part a,
.evolution a, .map a, .flow a, .other a { color: inherit; }

.distribution .remark-code-line-highlighted { background-color: var(--distribution-light); }
.correlation .remark-code-line-highlighted { background-color: var(--correlation-light); }
.ranking .remark-code-line-highlighted { background-color: var(--ranking-light); }
.part .remark-code-line-highlighted { background-color: var(--part-light); }
.evolution .remark-code-line-highlighted { background-color: var(--evolution-light); }
.map .remark-code-line-highlighted { background-color: var(--map-light); }
.flow .remark-code-line-highlighted { background-color: var(--flow-light); }
.other .remark-code-line-highlighted { background-color: var(--other-light); }

.bottom {
  width: 15%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  font-weight: bold;
}

.black { color: black; }
